// Colors
$primary: #ea3e66;
$secondary: #73b8b2;
$black: #484242;
$complementary-1: #d79a9f;
$white: #fff;
$donation: #ea3e66;
$request: #73b8b2;
$user: #000000;
$sign--out: #f2083f;
$whatsapp: #25d366;
$whatsapp--active: #25d366;
$facebook: #3b5998;
$facebook--active: #5c6d93;
$telegram: #3ea8e2;
$telegram--active: #72bce4;
$twitter: #1c93e4;
$twitter--active: #56a5da;
$email: #d24538;
$email--active: #d48179;
$reddit: #f24100;
$reddit--active: #f28259;

// Shadows
$shadow: 0px 4px 11px 0px #0000002e;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile-large: 425px;
$breakpoint-mobile-small: 425px;

// Utilities
$header-height: 80px;
$max-width: 1080px;
