@import '../../sass/variables';

.image-upload {
  position: relative;

  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__image {
    @apply w-full object-cover object-center rounded-2xl;

    max-height: 380px;
  }

  &__button {
    @apply rounded-lg bg-white py-3 px-8 font-semibold;

    color: $primary;
    border-color: $primary;
    border-width: 2px;

    &:hover {
      @apply text-white;

      background-color: $primary;
      cursor: pointer;
      transition: all 0.2s ease-in;
    }
  }

  &__input {
    display: none;
  }
}
