@import '../../../../sass/variables';

.header {
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 11px 0px #73b8b233;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .header_content,
  .header_logo a,
  .nav,
  .nav_donation-request,
  .nav-account {
    display: flex;
    align-items: center;
  }

  .header_content {
    padding: 0 1rem 0 1rem;
  }

  .nav_donation-request {
    margin-right: 200px;
  }

  .header_logo {
    width: 400px;
  }

  .nav_donation-request {
    width: 250px;
    justify-content: space-between;
  }

  .title {
    display: flex;
    align-items: baseline;
    font-size: 17px;
    color: $black;
    font-weight: 600;
  }

  .title-main {
    font-size: 20px;
  }

  img {
    margin-left: 10px;
  }

  .title svg {
    margin-left: 6px;
  }
}

button {
  display: flex;
  align-items: center;
}

.sub-nav {
  position: relative;
}

.nav__dropdown {
  position: absolute;
  background-color: $white;
  border-radius: 14px;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
  right: 0;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 21px 10px 21px;
  border-radius: 5px;
  text-transform: capitalize;
  width: 200px;
  justify-content: flex-end;
}

.donation {
  border: 1px solid $donation;
  color: $donation;

  .nav-link:hover {
    color: $white;
    background-color: $donation;
  }
}

.request {
  border: 1px solid $request;
  color: $request;

  .nav-link:hover {
    color: $white;
    background-color: $request;
  }
}

.user {
  border: 1px solid $user;
  color: $user;

  svg {
    margin-left: 10px;
    width: 25px;
  }

  button {
    width: 100%;
  }

  .nav-link:hover {
    color: $white;
    background-color: $user;
    svg path {
      fill: $white;
    }

    svg {
      width: 25px;
    }
  }

  .nav-link_sign-out:hover {
    background-color: $sign--out;
  }
}
