@import '../../sass/variables';

.user-info {
  @apply rounded-lg;

  background-color: $primary;
  display: flex;
  align-items: center;
  padding: 1.125rem 2rem;

  .avatar {
    margin-right: 1rem;

    img {
      border-radius: 50%;
      object-fit: cover;
      min-width: 5rem;
      height: 5rem;
    }
  }

  .wrapper {
    color: #fff;

    .greeting {
      @apply font-semibold;

      font-size: 1.125rem;
    }

    .edit-profile {
      font-size: 0.8rem;

      .link {
        @apply font-semibold;

        margin-left: 0.3rem;
        text-decoration: underline;
      }
    }
  }
}

.see-more {
  color: $secondary;
  font-size: 1.5rem;
  height: 100%;
  vertical-align: center;
  text-decoration: underline;
}

@media screen and (max-width: $breakpoint-mobile-large) {
  .user-info {
    flex-direction: column;

    .wrapper {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
