@import '../../sass/variables';

.container {
  @apply p-4 lg:p-7 bg-white;

  box-shadow: 0px 4px 11px 0px #73b8b233;
  position: sticky;
  top: 0;
  z-index: 50;

  .title {
    @apply lg:text-2xl font-bold;

    color: $black;
  }
}

.nav {
  position: relative;

  &__button {
    @apply z-10;
  }

  &__dropdown {
    @apply absolute right-0 mt-2 w-48 bg-white rounded-md shadow-xl z-20 py-3 px-2;

    border: 1px solid $secondary;
  }
}

.nav-link {
  @apply block px-4 py-2 capitalize rounded mt-1 w-full text-left;

  color: $secondary;

  &:hover {
    @apply text-white;

    background-color: $secondary;
  }

  &--active {
    @apply text-white;

    background-color: $secondary;
  }
}
