
.emptyState{
    @apply my-11 w-full grid justify-center items-center;
  
    .emptyStateSvg {  
      height: 173px;
    }
    
    p{
      justify-self: center;
      color: #969696;
      font-weight: 350;
      }
  }