@import 'sass/variables';

.footer {
  background-color: #353434;
  color: #bcbcbc;
  font-size: $font-small;
  height: fit-content;
  padding: 2rem;
  width: 100%;
  z-index: 999;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
  justify-content: space-between;
}

.copyright {
  flex-direction: column;
  font-size: $font-x-small;
}

.contact__us,
.powered {
  display: flex;
  align-items: center;

  svg {
    width: 35px;
    height: 35px;
    margin: 5px;
    margin-bottom: 0;
  }
}

.logo {
  align-items: center;
  display: flex;
  color: $white;
  font-size: $font-x-small;
  margin-bottom: 7px;

  svg path {
    fill: $white;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.contact__us {
  align-items: center;

  .contact__us__title {
    font-size: $font-small;
    margin-right: 6px;
  }
}

.contact__us__item {
  display: flex;
  align-items: center;
  font-size: $font-x-small;

  a {
    display: flex;
    align-items: center;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: $breakpoint-mobile-large) {
  .container {
    flex-direction: column;
  }

  .copyright,
  .contact__us,
  .powered,
  .logo {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    text-align: center;
  }

  .logo {
    margin-bottom: 2px;
  }
}
