@import '../../../../sass/variables';

.user-info {
  @apply rounded-lg;

  background-color: $primary;
  display: flex;
  align-items: center;
  padding: 1.125rem 2rem;

  .avatar {
    margin-right: 1rem;

    img {
      background-color: #fff;
      border-radius: 9999px;
      height: 5rem;
      object-fit: cover;
      width: 5rem;
    }
  }

  .wrapper {
    color: #fff;

    .greeting {
      @apply font-semibold;

      font-size: 1.125rem;
    }

    .edit-profile {
      font-size: 0.8rem;

      .link {
        @apply font-semibold;

        margin-left: 0.3rem;
        text-decoration: underline;
      }
    }
  }
}

.scrollable-container {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 0.5rem;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(40, min(25rem));
  grid-auto-flow: column;
  width: 100%;

  & > div {
    scroll-snap-align: center;
  }
}

.petitions-container {
  @extend .scrollable-container;

  margin-top: 1.5rem;
  padding-top: 2rem;
  padding-left: 2rem;
  gap: 2.5rem;
  grid-template-columns: repeat(40, min(30rem));
}

.see-more {
  color: $secondary;
  font-size: 1.5rem;
  height: 100%;
  vertical-align: center;
  text-decoration: underline;
}

@media screen and (max-width: $breakpoint-mobile-large) {
  .user-info {
    flex-direction: column;

    .wrapper {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
